<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <ul>
            <li><a href="/">home</a></li>
            {#{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}#}
                <li> <a href="/company/1">Informations entreprise</a></li>
                <li> <a href="/product/">Products</a></li>
                <li> <a href="/command/">Commands</a></li>
                <li> <a href="/payment/">Payments</a></li>
               {# <li><a href="/logout">logout</a></li>
            {% else %}#}
                <li> <a href="/login">login</a></li>
            {#{% endif %}#}
        </ul>
        {% block body %}{% endblock %}
    </body>
</html>
