{% extends 'base.html.twig' %}

{% block title %}Command treated{% endblock %}

{% block body %}
    <h1>Command treated</h1>

        {% for command in commands %}
        <br><br>
        <li>
            command :
            {{ command.id }}
            {{ command.clientFirstname }}
            {{ command.clientLastname }}
            {{ command.status }}
            <br><br>


        </li>

        {% endfor %}

{% endblock %}